*
!.gitignore
!index.html
!clips.js
!README.md
!supabase/
!supabase/*.sql
!docs/
!docs/**/
!docs/**/*.md
!.github/
!.github/**/
!.github/**/*.yml
!supabase/**/
!supabase/**/*.ts
!supabase/config.toml
